{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='badges.css')}}" />
{% endblock %}

{% block body %}

<!-- partie image -->
<img class="logo_obadge" src="{{url_for('static', filename='logo.jpg')}}" alt="logo obadge" />

<!-- partie menu -->
<nav class="menu_horizontale_text">
    <a class="item_du_menu" href="/">Accueil</a>
    <a class="item_du_menu" href="/groupe">Officience Team</a>
    <a class="item_du_menu" href="/badges">Badges Collection</a>
</nav>

<!-- partie authentification -->
<a class="item_du_menu_inscription" href="/inscription">Sign Up</a>
<a class="item_du_menu_login" href="/inscription">Login</a>
{% endblock %}

{% block footer %}
{% endblock %}