{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
{% endblock %}

{% block body %}

<!-- partie session utlisateur -->
<h1>Welcome : {{ name }}</h1>

<!-- partie image -->
<div class="cercle"></div>
<img class="logo_fleur" src="{{url_for('static', filename='flower-icon.png')}}" alt="logo fleur" />
<img class="shared_value" src="{{url_for('static', filename='creating-shared-value.png')}}" alt="logo shared value" />
<img class="developing" src="{{url_for('static', filename='developing.png')}}" alt="logo developing" />
<img class="open_knowledge" src="{{url_for('static', filename='open-knowledge.png')}}" alt="logo open knowledge" />
<img class="positive_global" src="{{url_for('static', filename='positive-global.png')}}" alt="logo positive global" />
<img class="sustainability" src="{{url_for('static', filename='sustainability.png')}}" alt="logo sustainability" />

<!-- partie menu -->
<nav class="menu_horizontale_text">
    <a class="item_du_menu" href="/">Accueil</a>
    <a class="item_du_menu" href="/groupe">Officience Team</a>
    <a class="item_du_menu" href="/badges">Badges Collection</a>
</nav>

<!-- partie authentification -->
<a class="item_du_menu_inscription" href="/inscription">Sign Up</a>
<a class="item_du_menu_login" href="/login">Login</a>
{% endblock %}

{% block footer %}
{% endblock %}