<!DOCTYPE html>
<html>

<head>
    <title>{{ nom_du_site.nomsite }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <link rel="icon" type="image/png" sizes="22x20" href="{{url_for('static', filename='logo_obadge.ico')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
{% block categories %}

<body>
    <!-- remettre <div class="loader"></div> une fois le site terminer -->

    <!-- partie logo -->
    <div class="cercle"></div>
    <img class="logo_fleur" src="{{url_for('static', filename='flower-icon.png')}}" alt="logo fleur" />
    <img class="shared_value" src="{{url_for('static', filename='creating-shared-value.png')}}" alt="logo shared value" />
    <img class="developing" src="{{url_for('static', filename='developing.png')}}" alt="logo developing" />
    <img class="open_knowledge" src="{{url_for('static', filename='open-knowledge.png')}}" alt="logo open knowledge" />
    <img class="positive_global" src="{{url_for('static', filename='positive-global.png')}}" alt="logo positive global" />
    <img class="sustainability" src="{{url_for('static', filename='sustainability.png')}}" alt="logo sustainability" />
    <img class="logo_obadge" src="{{url_for('static', filename='logo.jpg')}}" alt="logo obadge" />

    <!-- partie menu navigation -->
    <nav class="menu_horizontale_text">
        <a class="item_du_menu" href="/">{{ categories.Home }}</a></li>
        <a class="item_du_menu" href="{{url_for('static', filename='groupe.html')}}">{{ categories.Officience_groupe }}</a></li>
        <a class="item_du_menu" href="{{url_for('static', filename='badges.html')}}">{{ categories.Collection_badges }}</a></li>
    </nav>

    <!-- partie authentification -->
        <a class="item_du_menu_login" href="{{url_for('static', filename='login.html')}}">{{ login.Authentification }}</a>
        <a class="item_du_menu_inscription" href="{{url_for('static', filename='inscription.html')}}">{{ inscription.Authentification }}</a>

    <!-- background video -->
        <video autoplay muted loop class="vietnam_video">
            <source src="{{url_for('static', filename='vietnam.mp4')}}" type="video/mp4">
          </video>
</body>
{% endblock %}

</html>