<!DOCTYPE html>
<html>

<head>
    <title>Obadge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="22x20" href="{{url_for('static', filename='logo_obadge.ico')}}" />
    {% block head %}
    {% endblock %}
</head>

<body>
    <h1>Welcome : {{ session.name }}</h1>
    <a href="/session_user_logout">logout</a>
    <!-- remettre <div class="loader"></div> une fois le site terminer -->
    <!-- partie text obadge -->
    <h1 class="titre_du_site">Obadge</h1>
    {% block body %}
    {% endblock %}
</body>

<!-- partie pied de page -->
<footer>
    {% block footer %}
    {% endblock %}
</footer>

</html>