<!DOCTYPE html>
<html>

<head>
    <title>Obadge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="22x20" href="{{url_for('static', filename='logo_obadge.ico')}}" />
    {% block head %}
    {% endblock %}
</head>

<body>
    <h1>Welcome : {{ session.name }}</h1>
    <a href="/session_user_logout">logout</a>
    <!-- remettre <div class="loader"></div> une fois le site terminer -->
    <!-- partie text obadge -->
    <h1 class="titre_du_site">Obadge</h1>
    <!-- pied de page -->
    <p class="text_1">
        OBadge allows you to create badge, award them to people who deserve and receive badge from others.
    </p>
    <p class="text_2">
        Address: 16A Le Hong Phong (pro-long), Ward 12, District 10, HCMC, Viet Nam | Tel: +84 (28) 38 62 00 55 | Email
        :
        contact@officience.com
    </p>
    <p class="text_3">
        Contact Information :
    </p>
    <a class="text_4_Facebook" href="https://www.facebook.com/Officience" target="_blank">Facebook</a>
    <a class="text_5_Youtube" href="https://www.youtube.com/channel/UCcZRt3al4UQxa4aTdHRReqg"
        target="_blank">Youtube</a>
    {% block body %}
    {% endblock %}
</body>
<footer>
    {% block footer %}
    {% endblock %}
</footer>

</html>