{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='signup_css.css')}}" />
{% endblock %}

{% block body %}
<!-- partie menu -->
<nav class="menu_horizontale_text">
    <a class="item_du_menu" href="/">Accueil</a>
    <a class="item_du_menu" href="/groupe">Officience Team</a>
    <a class="item_du_menu" href="/badges">Badges Collection</a>
</nav>
<!-- partie inscription-->
<form action="/login" method="POST">
    <p class="name">name : <input type="text" name="name" /></p>
    <p class="password">password : <input type="password" name="password" /></p>
    <p><input type="submit" value="Sign Up" /></p>
</form>
{% endblock %}

{% block footer %}
{% endblock %}