/* partie titre du site */
.titre_du_site { 
  position: relative;
  bottom: -50px;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  font-size: 60px;
  color: rgba(255, 123, 0, 0.534);
  background: linear-gradient(90deg, rgba(0, 255, 55, 0.658), rgba(255, 187, 0, 0.26), rgba(0, 255, 55, 0.658))
}

/* partie arrière plan du site */
body {
    background: url("image_transparente_feuille.png"),
    linear-gradient(rgb(134, 248, 134), rgb(236, 232, 232), rgb(188, 252, 252));
    mix-blend-mode: normal; 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

/* partie pied de page */
footer {
  position: absolute;
  bottom: -800px;
  width: 100%;
  background: linear-gradient(100deg, rgba(120, 252, 120, 0.534), rgba(255, 160, 160, 0.726));
  left: 0;
  right: 0;
  border: 1px solid;
  padding-bottom: 250px;
}
  
  .text_1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -600px;
    font-size: 20px;
  }
  
  .text_2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -750px;
    font-size: 20px;
  }
  
  .text_3 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -680px;
    font-size: 20px;
  }
  
  .text_4_Facebook {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -780px;
    font-size: 20px;
    margin-right: 100px;
  }
  
  .text_5_Youtube {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -780px;
    font-size: 20px;
    margin-left: 100px;
  }

  /* partie login */

  form {
    position: relative;
    text-align: center;
    bottom: -220px;
  }

  .password {
    margin-left: -70px;
    margin-top: 10px;
  }

  .email {
    margin-left: -47px;
    margin-top: 10px;
  }

  .name {
    margin-left: -47px;
    margin-top: 10px;
  }

/* partie menu navigation */ 
.menu_horizontal_text {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav {
    position: relative;
    text-align: center;
    display: block;
    margin-top: 150px;
    max-width: 100%;
  }
  
  .item_du_menu { 
    display: inline;
    background-color: rgba(38, 148, 34, 0.308); 
    padding: 2em 7em;
    text-decoration: none;
  }
  
  nav a {
    color: rgb(248, 248, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  }
  
  nav a:hover {
    background-color: rgba(72, 255, 0, 0.267);
  }