/* partie menu navigation */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}
li { 
  float: left;
  margin: 160px 0em 0 20em;
}

li a {
  display: inline-block;
  color: rgb(226, 216, 216);
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:hover {
  background-color: #111
}

/* partie arrière plan */
body {
  background-color: rgb(43, 39, 39);
}

/* partie logo */
.logo_obadge {
  position: absolute;
  right: 635px;
  bottom: 660px;
  z-index: 0px; 
}

.logo_fleur {
  position: absolute;
  right: 650px;
  bottom: 110px;
  z-index: 0px;
}

.shared_value {
  position: absolute;
  right: 510px;
  bottom: 40px;
  z-index: 0px;
  width: 10%;
	height: auto;
}

.developing {
  position: absolute;
  right: 950px;
  bottom: 40px;
  z-index: 0px;
  width: 10%;
	height: auto;
}

.open_knowledge {
  position: absolute;
  right: 950px;
  bottom: 300px;
  z-index: 0px;
  width: 10%;
	height: auto;
}

.positive_global {
  position: absolute;
  right: 720px;
  bottom: -70px;
  z-index: 0px;
  width: 10%;
	height: auto;
}

.sustainability {
  position: absolute;
  right: 510px;
  bottom: 300px;
  z-index: 0px;
  width: 10%;
	height: auto;
}

/*partie cercle */
.cercle { 
  height: 500px; 
  width: 500px; 
  border: 5px solid rgb(96, 219, 80);
  border-radius: 50%; 
  position: absolute;
  right: 550px;
  bottom: 0px;
  z-index: 0px;
  border-style: dashed;
  animation: spin 40s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
.loader {
    border: 16px solid #ee0000;
    border-top: 16px solid #cc00ff;
    border-radius: 50% solid #0088FF;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    right: 50%;
    margin-left: 45em;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */